.list {
	margin-top: 16px;

	border-radius: 16px;
	background: var(--White, #FFF);

	/* Shadow 01 */
	box-shadow: 0px 20px 25px 0px rgba(76, 103, 100, 0.10);
	box-sizing: border-box;
	padding: 0px 28px 56px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.head {
	padding: 24px 8px 16px 0;
	border-bottom: 1px solid rgba(210, 210, 210, 0.25);

	.cellContent{
		color: var(--Default-Black, #191919);
		font-size: 16px;
		font-weight: 700;
		line-height: 24px; /* 150% */
		text-transform: capitalize;
		margin-bottom: 16px;
	}
}

.text {

	font-size: 16px;
	font-weight: 700;
	line-height: 24px; /* 150% */
	text-transform: capitalize;
}

.btn{
	margin-top: 32px;
	display: flex;
	column-gap: 10px;
}

.col {
	width: 200px;
}

.colTransaction{
	width: 300px;
}

.amount{
	margin-left: auto;
	text-align: right;
}

.table{
	width: 100%;
	border-collapse: collapse;
}


tr{
    border-bottom: 1px solid rgba(210, 210, 210, 0.25);
	box-sizing: border-box;
	max-height: 72px;
	&:first-child{
		height: 64px;

	}
}

.cellContent{
	display: flex;
	align-items: center;
	height: 100%;
	margin: 24px;
	color: var(--Gray-01, #666);
	font-size: 16px;
	font-weight: 500;
	line-height: 24px; /* 150% */
}


td.colAmount .cellContent, th.colAmount .cellContent {
	display: block;
	text-align: right;
	margin-top: 24px;
}

