.btn{
	display: flex;
	padding: 12px 24px;
	justify-content: center;
	align-items: center;
	gap: 4px;
	border-radius: 4px;
	background: var(--Primary-color, #299D91);
	color: var(--White, #FFF);
	text-align: center;

	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px; /* 150% */
	text-transform: capitalize;
	min-width: 192px;
}